
table{
    overflow-y: scroll;
    width: 100%;
}
#addNewTodo{
    float: right;
    margin-right: 80px;
    margin-top: 30px;
}
#title{
    margin-top: 20px;
    float: left;
}

#listComponents{
    text-align: center;
}

#addNewTodoBottom{
    margin-top: 20px;
}
.content{
    text-align: center;
    margin-left: 100px;
}